/* reset css */
* {
    margin: 0;
    padding: 0;
}


.logo {
    max-width: 100px;
    height: auto;
}

.gridContainer {
    display: grid;
    grid-template-areas:
        "header header"
        "navIzq navDer"
        "parrafo parrafo"
        "img img"
        "footer footer";
    grid-template-columns: 50% 50%;
    grid-template-rows: 100px 100px auto 1fr 100px;
}

header {
    grid-area: header;
    display: flex;
    justify-content: center;
}

div.navIzq {
    grid-area: navIzq;
}

.navIzq ul,
.navDer ul {
    display: flex;
    justify-content: space-around;
}

li {
    padding: 10px;
    list-style-type: none;
}

div.navDer {
    grid-area: navDer;
}

section.parrafo {
    grid-area: parrafo;
    display: flex;
    align-items: center;
}

section.imgParrafo {
    grid-area: img;
}

footer {
    grid-area: footer;
    display: flex;
    justify-content: space-around;
    padding-top: 20px;
}

/* vista desktop */
@media only screen and (min-width: 768px) {
    .gridContainer {
        display: grid;
        grid-template-areas:
            "navIzq navIzq header header navDer navDer"
            "parrafo parrafo parrafo img img img"
            "footer footer footer footer footer footer";
        grid-template-columns: repeat(6, 16.6%);
        grid-template-rows: 100px auto 200px;
    }

    header {
        text-align: center;
    }

    li {
        position: relative;
        top: 20px;
    }
}